name: 'WMS'
scopeName: 'source.wms'
type: 'tree-sitter'
parser: 'tree-sitter-wms'

fileTypes: ['wms']
limitLineLength: false
injectionRegExp: '(WMS|wms)$'

comments:
  start: '--'
  end: ';'

scopes:
  'fragment': 'source.wms'
