name: 'WAC Meta Syntax'
scopeName: 'source.wms'
type: 'tree-sitter'
parser: 'tree-sitter-wms'

fileTypes: [
  'wms'
]

injectionRegExp: '(WMS|wms)$'

folds: [
  {
    type: ['RULE', 'RULE_END'],
    start: {index: 0},
    end: {index: -1}
  }
]

comments:
  start: '--'
  end: ';'

scopes:

  # ENCODING
  'SYMBOL_ENCODING_END': 'string.html'
  'ENCODING_NAME': 'entity.other.attribute-name'
  # Names
  'NON_TERMINAL_NAME': 'entity.name.tag'

  # Values
  'HEX': 'entity.other.attribute-name'
  'SYMBOL_INFINITY': 'entity.other.attribute-name'

  # Punctuation
  'SYMBOL_EQUAL': 'string.html'
  'SYMBOL_OR': 'string.html'
  'RULE_END': 'string.html'

  # Comment
  'COMMENT': 'comment.block.html'

  # Multi
  'MULTI': 'punctuation.definition.string.begin'

